#include "Flutter/Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-academiapuebla.xcconfig"
#include "Flutter/Debug.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIconAcademiapuebla
PRODUCT_BUNDLE_IDENTIFIER=app.stopandgomx.academiapuebla
APP_DISPLAY_NAME=Academia Puebla FC MID
APP_SUFFIX=
PRODUCT_NAME=$(APP_DISPLAY_NAME)
